FLASK_APP=
SECRET_KEY=
SQLALCHEMY_DATABASE_URI=
JWT_SECRET_KEY=
PYTHONUNBUFFERED=1
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

S3_BUCKET=
S3_REGION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ANTHROPIC_API_KEY=
